* {
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', arial;
}

.artist h3 , h2 {
	font-family: 'Raleway';
	font-weight: 700;
}
p {
	1.2rem;
}
#preload {
	display:none;
}
a {
	color:#6db3ff;
}
a:hover {
	text-decoration: none 
}

h2 {
	font-size:3rem;
	margin-bottom: 1rem;
}
.cntAlign {
	text-align: center;
	text-decoration: none;
}
.cntAlign a {
	text-decoration: none;
}

.Hclk {
	z-index:2;
	position: relative;
	top:-2em;
	
}
.Hclk h3, Hclk h3 a {
	font-family: 'Montserrat', arial;
}
.Hclk h3 a {
	background-image: url(../img/btn.png);
    color: #fff;
    width: 100%;
    background-size: cover;
    padding: .45rem .95rem;
    background-position: center;
}
.bluee {
	color:#6db3ff;
}
#videoBG , #videoSM {
	display: none;
}

@media (max-width: 876px){
.resp-text {
	text-align: center !important;
}
}
.preload {
	display:none;
}
.goldee {
	background-image:url(../img/mapbg.jpg);
}
.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}
.my-auto h1 {
	font-family: 'Satisfy', cursive;
}
.Ctitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 7rem;
	color:#472a20;
}
.space {
	height:3em;
}
.lines::before {
	content:"";
	position: absolute;
	z-index: -2;
	width: 8rem;
	height: 11rem;
    margin: 2rem 0px 0px 0rem;
    border:.9rem dashed #ffac64;
	border-radius: 170px 0 0 0;
	border-right: none;
	border-bottom: none;
}
.linesD {
	z-index: -2;
    height: 8rem;
    overflow: hidden;
    border: .9rem dashed #ffac64;
    margin-top:.25rem;
    border-right: none;
    border-bottom: none;
    border-top: none;
}
.linesR::before {
	content:"";
	position: absolute;
	z-index: -2;
	width: 8rem;
	height: 11rem;
    margin: 2rem 0px 0rem 13rem;
    border: .9rem dashed #ffac64;
	border-radius: 0 170px 0 0;
	border-left: none;
	border-bottom: none;
}
.linesB::before {
	content:"";
	position: absolute;
	z-index: -2;
	width: 8rem;
	height: 10rem;
    margin: -8rem 10rem 0rem 0rem;
    border: .9rem dashed #ffac64;
	border-radius: 0  0 0 170px;
	border-right: none;
	border-top: none;
}

.linesRB::before {
	content:"";
	position: absolute;
	z-index: -2;
	width: 8rem;
	height: 10rem;
    margin: -7rem 0px 0rem 13rem;
    border: .9rem dashed #ffac64;
	border-radius: 0 0 170px 0;
	border-left: none;
	border-top: none;
}

/*-- IMG ZOOMS --*/
.switch {
            width:100%;
            overflow: hidden;
        }

/*-- ARTIST MISC --*/
 .artist {
 	background-color: #355a6c;
 }
 .artist h3 {
 	color:#8FDDEF;
 	font-size:20px;
 }
 .socials {
	font-size: 30px;
    color: #89fffb;
    margin-right: .5rem;
 }
 .socials:hover {
 	color:#fff;
 }

 .nav {
 	background-color:#F4DAC9;
 	color:#000;
 	border:transparent;
 	border-radius: 7px;
 	font:  700 1.3rem 'Raleway' ;
 	text-decoration: none
 }

 .nav:hover {
    color: #222;
    background-color: #8FDDEF;
 }

 footer {
 	background-color:#222;
 	color: #F4DAC9;
 	font-size: .75rem;
 }
