.pellchi {
	background-color: #222;
	color:#fff;
}
.intro{
background: -webkit-radial-gradient(center, ellipse cover, rgb(34, 32, 32) 24%,rgba(58, 57, 57, 0.27) 40%, rgb(34, 32, 32) 100%);}
.intro h1 {
    font-family: 'Lora', serif;
}
.dominance {
    position: relative;
    z-index:2;
    padding: 5%;
}
.apel {
    -webkit-animation:shudder 3s infinite linear;
    opacity:1;
}

.wavediv svg { position:relative; top:1px; left:0; height:100%; width:100% }

@-webkit-keyframes updown {
        0% {
                -webkit-transform: translateY(1px);
        }
        50% {
                -webkit-transform: translateY(6px);
        }
        100% {
            -webkit-transform: translateY(1px);
        }
}

@-webkit-keyframes shudder {
        0% {
            opacity:1;
            transform: translatey(1px);
        }
        19%{
            opacity:1;
        }
        21%{
            opacity:0;
        }
        23%{
            opacity:1;
        }
        25%{
            opacity:0;
        }
        27%{
            opacity:1;
        }
        50%{
            transform: translatey(3px);
        }
        87%{
            opacity:1;
        }
        89%{
            opacity:0;
        }
        91%{
            opacity:1;
        }
        100% {
             opacity:1;
             transform: translatey(1px);
        }
}
