body{
	background-color: #20495D;
	color:#fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	
}
.intro {
	background-color:#abf7f7;overflow: hidden;
	color:#222;
}
.intro h1 {
		font-weight: 300;
		font-family: 'Fira Sans Condensed', sans-serif;
}h2{    font-size: 2.95rem;}
@media(max-width:460px){h2{font-size: 210%;}}


.viney {position: relative;}
.viney img:nth-child(1){
	transform: translate(-40px) rotate(-10deg);
    margin-top: 15rem;
}
.viney img:nth-child(2){
	transform: translate(30px,20px) scale(-1) rotate(65deg);
	    margin-top: 5rem;
}

.leve svg{  position: relative; top: -3rem !important;   
    left: 0px; height: 100%; width: 190%; float: right;}

@media(min-width:460px){.leve svg{top: -6rem !important;    position: relative;
    left: 0;
    height: 100%;
    width: 100%;}}
.artist {
	color:#fff;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
@-webkit-keyframes rotation2 {
		0% {
				-webkit-transform: rotate(-5deg);
		}
		50% {
				-webkit-transform: rotate(20deg);
		}
		100% {
				-webkit-transform: rotate(-5deg);
		}
}
.dominance {
	position: relative;
	z-index:2;
	padding: 5%
}
.cntn {
	padding-top: 8%;
}
.wave {
    position: relative;
    width: 100%;
    height: 3rem;
    background: #1b242d;
}
.wavediv svg { position:relative; top:0px; left:0; height:100%; width:100% }

/* ANM */


@-webkit-keyframes updown {
		0% {
				-webkit-transform: translateY(1px);
		}
		50% {
				-webkit-transform: translateY(6px);
		}
		100% {
			-webkit-transform: translateY(1px);
		}
}

[data-aos="shaker"] {
	-webkit-animation:shake 0.82s 3 cubic-bezier(.36,.07,.19,.97) both;
 }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}